on:
  release:
    types:
      - published
  
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      - uses: xmake-io/github-action-setup-xmake@v1
        # with:
        #   xmake-version: branch@master

      - uses: actions/cache@v5
        with:
          path: |
            ~/AppData/Local/.xmake
          key: xmake-${{ hashFiles('xmake.lua') }}
          restore-keys: |
            xmake-

      - run: |
          xmake repo -u

      - run: |
          xmake f -a x64 -m release -p windows -y

      - run: |
          xmake -w -y

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ github.event.repository.name }}-${{ github.sha }}-client-windows-x64
          path: |
            bin/

  upload-to-release:
    needs:
      - build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: ${{ github.event.repository.name }}-${{ github.sha }}-client-windows-x64
          path: artifact

      - run: |
          cp LICENSE README.md artifact/

      - run: |
          zip -r ../levilamina-client-freecam-windows-x64.zip *
        working-directory: artifact

      - uses: softprops/action-gh-release@v2
        with:
          files: |
            levilamina-client-freecam-windows-x64.zip
